<header class="page-header">
  <div class="page-header__inner">
    <a class="page-header__logo" href="/" aria-label="PowVal home">
      <img class="page-header__logo-img" src="/images/powval-logo-transparent.svg" alt="PowVal" height="22">
    </a>
    <a class="page-header__cta" href="/#join">Get early access <span aria-hidden="true">&rarr;</span></a>
  </div>
</header>
